# -*- coding: utf-8 -*-

# falls man .env verwenden möchte:
python-dotenv

# Projektbezogen ab hier:


# --- ALLES AB HIER IST OPTIONAL ---

# Pytest, Linter und Typ-Prüfung (entfernen bei fertigem Code):
pytest
pytest-cov
pytest-mock
pylint
mypy
